.navlink {
    margin-right: 1.5em;
}

.center-box {
  display: flex;
   justify-content: center; /* horizontal */
  /*align-items: center;       vertical */
  min-height: 100vh;        /* full screen height */
}
